name: Python CI

on:
  pull_request:
    branches:
      - main

jobs:
  syntax-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Python syntax check
        run: |
          python3 -m py_compile *.py

      - name: Test with pytest
        run: |
          pip3 install -r requirements.txt
          pytest test_main.py
